/*come font weight abbiamo dal file adobe 400 + 700 (normal +  bold) */

@import 'public/site/templates/styles/modifiche.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*base rem font size*/
	html{
		font-size: 20px;
		font-family: "forma-djr-banner", sans-serif;
		font-weight: 500;
	}
}

@layer components {
	.text-banner-mobile {
		@apply text-4vh leading-4vh font-semibold;
	}
}
